<form method="post" autocomplete="off">
  <div class="row mb-3">
    <div class="col-md-12">
      <p>
        <input
          type="submit"
          name="insert"
          class="btn btn-sm btn-outline-primary rounded-0"
          value="Save"
        />
        <a href="{Site_url}/{$data.name}" class="btn btn-sm btn-outline-danger rounded-0">Cancel</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>User name</label>
        <input
          type="text"
          name="name"
          class="form-control"
          placeholder="name"
          required
        />
      </div>
      <div class="form-group">
        <label>User email</label>
        <input
          type="text"
          name="email"
          class="form-control"
          placeholder="email"
          required
        />
      </div>
      {If: Session::get('api_role') == 'admin'}
      <div class="form-group">
        <label>User role</label>
        <select name="role" class="form-control">
          <option value="admin">Admin</option>
          <option value="user">User</option>
        </select>
      </div>
      {/If}
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" />
      </div>
    </div>
  </div>
</form>
