<div class="row">
  <form class="col-xl-12 mb-3" method="post">
    <div class="row">
      <div class="col-xl-12 mb-3">
        <input
          type="submit"
          id="store"
          name="insert"
          class="btn btn-primary"
          value="Save"
        />
        <a href="{Site_url}/{$data.name}" class="btn btn-danger">Cancel</a>
      </div>
      <div class="col-xl-12">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control" required />
        </div>
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" class="form-control" required />
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea
            name="description"
            class="form-control"
            rows="5"
          ></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" name="status" type="checkbox" />
          <label class="form-check-label" for="status">Published ?</label>
        </div>
        <input
          type="hidden"
          id="dataContent"
          name="content"
          value="{$data.vars.content}"
        />
      </div>
    </div>
  </form>
  <div class="col-xl-12">
    <div id="vars"></div>
    <button id="new" class="btn btn-success mb-3">Add new</button>
  </div>
</div>

<script>
  let json = [
    {
      key: "demo",
      val: "add your keys",
      type: "string",
    },
  ];
  // init classs
  const j = new iJson();
  // import json file
  j.importList(json);
  // btn handlers
  window.new.onclick = () => {
    // create new key value
    j.createList(window.vars, "key", "value");
  };
  // generate json code
  window.store.onclick = () => {
    window.dataContent.value = j.exportList();
    window.store.textContent = "Success";
    return true;
  };
</script>
